body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #242424;
}

.hide {
  display: none;
}



/* HEADER */

#header {
  padding: 10px;
  background-color: white;
  display: block;
  height: 80px;
}

.nav-options {
  display: none;
}

.description {
  width: 50%;
  margin: auto;
  padding-top: 25px;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
}

hr {
  border: none;
  border-top: solid 3px white;
  width: 50%;
  margin-top: 25px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.feature {
  height: 480px;
  width: 320px;
  border: 3px white solid;
  border-radius: 5px;
  margin: 25px auto;
}

.inputs-outputs {
  height: 335px;
  width: 220px;
  border-radius: 5px;
  border: 3px black solid;
  margin: auto;
  padding: 20px;
  background-color: white;
}

.go-button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-weight: 600;
  color: #000000;
  padding: 6px 12px 6px 12px;
  border: solid #000000 3px;
  text-decoration: none;
  display: block;
  margin: 10px auto;
  outline: none;
}

.go-button:hover {
  background: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.back-button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-weight: 600;
  color: #ffffff;
  background: #242424;
  padding: 6px 12px 6px 12px;
  border: solid #000000 3px;
  text-decoration: none;
  display: block;
  margin: 10px auto;
  outline: none;
}

.back-button:hover {
  background: #000000;
  text-decoration: none;
  cursor: pointer;
}

.text-input {
  width: 150px;
  border-radius: 5px;
  border: 3px black solid;
  height: 20px;
  margin: 10px auto;
  display: block;
  outline: none;
}

.select-input {
  border-radius: 5px;
  border: 3px black solid;
  height: 26px;
  margin: 10px auto;
  width: 158px;
  display: block;
  outline: none;
}

.error {
  background-color: #f5f120;
  padding: 10px;
}



/* TAX */

#tax-feature {
  background-color: #f5f120;
}

.tax-input-button {
  background: #f5f120;
}

#tax-output {
  padding-top: 10px;
  padding-bottom: 30px;
}

#tax-gross {
  color: #7000cc;
}

#tax-income-tax {
  color: #ff0000;
}

#tax-n-i {
  color: #ff0000;
}

#tax-net {
  font-size: 1.5rem;
  color: #7000cc;
}

.tax-more-buttons {
  text-align: center;
}

.tax-timeframe-buttons {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-size: 0.8rem;
  color: #000000;
  background: #ffffff;
  padding: 4px 6px;
  border: solid #000000 3px;
  text-decoration: none;
  margin: 0 3px;
  width: 62px;
  outline: none;
}

.tax-timeframe-buttons:hover {
  cursor: pointer;
}



/* INTEREST */

#interest-feature {
  background-color: #8ee327;
}

.interest-input-button {
  background: #8ee327;
}

#interest-starting {
  color: #fc7703;
}

#interest-amount {
  color: #07c700;
  font-size: 1.5rem;
}

#interest-ending {
  color: #fc7703;
  font-size: 1.5rem;
}

#interest-rise {
  color: #07c700;
}

.interest-more-buttons {
  text-align: center;
  margin-bottom: 12px;
}

.interest-choice-buttons {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-size: 0.8rem;
  color: #000000;
  background: #ffffff;
  padding: 4px 6px;
  border: solid #000000 3px;
  text-decoration: none;
  margin: 0 3px;
  width: 84px;
  outline: none;
}

.interest-choice-buttons:hover {
  cursor: pointer;
}



/* BUDGET */

#budget-feature {
  background-color: #1ebbd4;
}

.budget-input-button {
  background: #1ebbd4;
}

.budget-extra-button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-size: 0.8rem;
  color: #000000;
  background: #ff61b0;
  padding: 2px;
  border: solid #000000 3px;
  text-decoration: none;
  width: 160px;
  outline: none;
}

.budget-extra-button:hover {
  background: #fc1776;
  cursor: pointer;
}

.budget-instruction {
  font-size: 1rem;
  margin: 8px auto 0;
}

.budget-input-table {
  display: grid;
  grid-template-columns: 58% 42%;
  grid-template-rows: 35px 35px 35px 35px 35px;
  text-align: left;
}

.budget-labels {
  padding-top: 14px;
}

.narrow-input {
  width: 84px;
  border-radius: 5px;
  border: 3px black solid;
  height: 20px;
  margin: 10px auto;
  display: block;
  outline: none;
}

.budget-results-divided {
  height: 300px;
  padding: 0;
  display: grid;
  grid-template-columns: 20% 80%;
}

.budget-graph {
  margin: 0;
  padding: 0;
  height: 300px;
  border-radius: 3px;
}

.budget-graph-item {
  padding: 0;
  margin: 0;
  border: none;
}

.budget-results-words {
  padding-top: 25px;
  text-align: right;
}



/* MEDIA QUERIES */

#desktop-title {
  display: block;
  margin: auto;
}

#mobile-title {
  display: none;
}

@media (max-width: 660px) {
  #desktop-title {
    display: none;
  }
  #mobile-title {
    display: block;
    float: left;
    margin-left: 5%;
  }
  .nav-options {
    display: inline;
    float: right;
    margin-right: 5%;
    text-align: right;
    line-height: 0.5;
  }
  .nav-options a {
    color: #ff0000;
    font-weight: 600;
    text-decoration: none;
  }
  .nav-options a:hover {
    color: black;
  }
  .description {
    width: 80%;
  }
}
